.guitarras-grid{
    display: grid;
    gap: 4rem;
    align-items: center;
}

@media (min-width: 768px) {
    .guitarras-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 968px) {
    .guitarras-grid{
        grid-template-columns: repeat(3,1fr);
    }
}

.guitarra{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
}

.guitarra .contenido{
    padding: 1rem;
}

.guitarra .contenido h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
}

.guitarra .descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    font-size: 1.7rem;
    overflow: hidden;
}

.guitarra .precio {
    color: var(--primary);
    font-size: 3.5rem;
    margin: 0;
    font-weight: 900;
}



.formulario{
    display: flex;
    flex-direction: column;
}

.formulario label{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.formulario .cantidad{
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--primary);
}

.formulario input[type="submit"]{
    margin-top: 3rem;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    padding: 1.4rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
}

.formulario input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--primary);

}